html{
   background-color: black; 
}
.App{
    text-align: center;
    font-size: 35px;
    margin-top:5%;
    background-color: black;
    color: #fff;
    height: 100%;
    
}

.title{
    font-size: 45px;
}
.days, .hours, .minutes, .seconds {
    display: inline;
    margin: 10px;
}
.deadlineInput{
    font-size:25px;
    margin: 5px;
}

.submitButton{
    margin-left: 5px;
}
img{
    height: 500px;;
}